.container {
    height: 200px;
    width: auto;
    /* margin-bottom: 40px; */
  text-align: center;
 justify-content: center;  /* Horizontal center */
  align-items: center;  


  margin-top: 100px;
}

.heading {
    /* text-align: center;
  font-size: 40px;
  color: #2c3e50;
  margin-bottom: 15px; */
 

  
 
  font-size: 40px;
  color: #2c3e50;
  margin-bottom: 15px;
}



.image {
  height:auto;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
}
